* {
    font-family: 'Lora',
        serif;
    font-family: 'Nunito',
        sans-serif;
    font-family: 'Ubuntu',
        sans-serif;
    font-family: 'Varela Round',
        sans-serif;
}

#app {
    text-align: center;
    color: #212529;
    margin: 20px;
}

#app h3 {
    margin: 40px auto;
}

.card .close {
    text-align: right;
    cursor: pointer;
}

.footer-bottom {
    text-align: center;
    background-color: #212529;
    color: #fff;
    padding: 20px 0;
    font-size: 12px;
    text-transform: capitalize;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-bottom a {
    color: #0d6efd;
    text-decoration: none;
}
